extends index
  
block headbar
  br
  br
  a.bnt.btn-primary.m-4.p-2.pl-3.pr-3(href="/users") Back
  if books 
    .container
    .row.justify-content-md-center
      .col-8
          lable.text-danger.text-uppercase list transaction of: #{userName}
          |
          |
          table.table.table-bordered.table-striped
            tr
              th Index
              th Cover
              th Title
              th Quantity
              th Change
            each book, index in books  
              tr  
                  td=index +1
                  if book.image
                    td.d-flex.justify-content-center.align-items-center
                      img(src=book.image, width='64')
                  td=book.title
                  td=book.quantity
                  td
                      span
                       |
                       |
                       a.mx-1.btn.btn-outline-info(href="/transactions/" +book.id+ "/removeTransaction") Remove
  else
    .alert.text-center.alert-primary Nothing