extends index

block headbar
  br
  br
  a.bnt.btn-primary.m-4.p-2.pl-3.pr-3(href="/users") Back
  form.mt-2(action="/users/" +user.id+ "/editUser" method="POST" enctype="multipart/form-data")
    lable Edit name:
    input.form-control.ml-4(type="text" name="name"  value=user.name)
    lable Edit email:
    input.form-control.ml-4(type="text" name="email"  value=user.email)
    label.ml-4(for="avatar") Avatar:
    input#avatar.form-control-file.ml-4(type="file" name="avatar")
    button.btn.btn-primary.m-4 Update
    br
    br
    .btn.btn-outline-primary Avatar: 
          if user.avatar
           img(src=user.avatar, width='64')
          else
           p notthing
    .alert-success.alert Name: 
      span=user.name
    .alert-success.alert Name: 
      span=user.email