a(href='/') Home
br
br  
form(action="/transactions/create" method="POST")
  label Create new transaction:
  br
  label Choose a user :
  |
  |
  select(name="userTransaction")
    each user in users
      option(value=user.name)=user.name
  br
  label Choose a book:
  |
  |
  select(name="bookTransaction")
    each book in books
      option(value=book.title)=book.title
  br
  button Create
table 
    caption Transactions List:
    tr
      th Index
      th User Name
      th Book
      each transaction,index in transactions 
        tr 
          td=index+1
          td=transaction.userTransaction
          td=transaction.bookTransaction