a(href='/') Home
br
br  
form(action="/transactions/create" method="POST")
  label Create new transaction:
  br
  label Choose a user :
  |
  |
  select(name="userTransaction")
    each user in users
      option(value=user.name)=user.name
  br
  label Choose a book:
  |
  |
  select(name="bookTransasction")
    each book in books
      option(value=book.title)=book.title
  br
  button Create
table 
    caption Transactions List:
    tr
      th ID
      th USer
      th Book
      tr
        each transaction in transactions  
          td=transaction.id
          td=transaction.userTransaction
          td=transaction.bookTransaction