extends index

block headbar
  br
  br
  .container
    .row.justify-content-md-center
      .col-8
          label Create new user:
            br
            form.form-group.row(action="/users/create" method="POST" enctype="multipart/form-data")
              label.ml-4(for="name") Name:
              input#name.form-control.ml-4(type="text" name="name" placeholder="Enter user name...")
              label.ml-4(for="email") Email:
              input#email.form-control.ml-4(type="text" name="email" placeholder="Enter email here...")
              label.ml-4(for="avatar") Avatar:
              input#avatar.form-control-file.ml-4(type="file" name="avatar")
              button.btn.btn-primary.ml-4.mt-3 Add
              if errors
                      each error in errors
                        .alert.alert-danger= error
          h1 USer List:
          br
          br
          table.table.table-bordered.table-striped
                th Index
                th Avtar
                th Email
                th User Name
                th Change
                each user,index in users
                  tr 
                    td=index+1
                    td
                      if user.avatar
                       img(src=user.avatar alt="Avatar" width="32")
                      else
                       p notthing
                    td=user.email
                    td=user.name
                    td
                      span
                       |
                       |
                       a.mx-1.btn.btn-outline-info(href="/users/" +user.id+ "/editUser") Edit
                       |
                       |
                       a.mx-1.btn.btn-outline-info(href="/transactions/" +user.id+ "/editTransaction") Transaction
                       |
                       |
                       a.mx-1.btn.btn-outline-info(href="/users/" +user.id+ "/delete") Delete
                       