extends ../layout/commonLayout

block content
  caption Transactions List: 
  table.table 
    tr
      th Index
      th Id
      th User Name
      th Book
      th Status
      each user,index in userTransaction
        tr 
          td=index+1
          td=user.id
          td=user.userTransaction
          td=user.bookTransaction
          td=user.isComplete
