extends index

block headbar
  label Create new user:
    br
    form(action="/users/create" method="POST" enctype="multipart/form-data")
      label.ml-4(for="name") Name:
      input#name.form-control.ml-4(type="text" name="name" placeholder="Enter user name...")
      label.ml-4(for="avatar") Avatar:
      input#avatar.form-control-file.ml-4(type="file" name="avatar")
      button.btn.btn-primary.ml-2.mt-3 Add
      if errors
              each error in errors
                .alert.alert-danger= error
  h1 List users:
  br
  br
  table.table
        th Index
        th Avtar
        th User Id
        th User Name
        th Change
        each user,index in users
          tr 
            td=index+1
            td
               img(src=user.avatar||"https://cdn.glitch.com/4d924758-ce91-4a18-abb2-d20d20a646c2%2F22.png",alt="Avatar" width="32" height="32")
            td=user.id
            td=user.name
            td
              span
               |
               |
               a(href="/users/" +user.id+ "/edit-user") Edit
               |
               |
               a(href="/users/" +user.id+ "/delete") Delete